.text-area {
    -fx-background-insets: 0;
    -fx-background-color: #434343;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: -1;
}

.text-area .content {
    -fx-background-color: #434343;
    -fx-border-color: #434343;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #1D1D1D;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}

.scroll-bar .corner {
    -fx-background-color: #1D1D1D;
}